@page
@model SuppliesManagement.Pages.Error.AccessDeniedModel
@{
     ViewData["Title"] = "Access Denied";
     Layout = null;
}
<link href="~/css/Error.css" rel="stylesheet" />
@* <div class="maincontainer">
    <div class="bat">
        <img class="wing leftwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        <img class="body"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
        <img class="wing rightwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <div class="bat">
        <img class="wing leftwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        <img class="body"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
        <img class="wing rightwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <div class="bat">
        <img class="wing leftwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        <img class="body"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
        <img class="wing rightwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <img class="foregroundimg" src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/HauntedHouseForeground.png" alt="haunted house">

</div>
<h1 class="errorcode">Access Denied 403</h1>
<div class="errortext">Bạn không có quyền truy cập trang này.</div> *@
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">403</span>
                <div class="mb-4 lead">Bạn không có quyền truy cập vào Trang này.</div>
            </div>
        </div>
    </div>
</div>