@page
@model ErrorModel
@{
    ViewData["Title"] = "Page Not Found";
    Layout = null;
}
<link href="~/css/Error.css" rel="stylesheet" />
<div class="maincontainer">
    <div class="bat">
        <img class="wing leftwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        <img class="body"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
        <img class="wing rightwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <div class="bat">
        <img class="wing leftwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        <img class="body"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
        <img class="wing rightwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <div class="bat">
        <img class="wing leftwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        <img class="body"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
        <img class="wing rightwing"
             src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <img class="foregroundimg" src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/HauntedHouseForeground.png" alt="haunted house">

</div>
<h1 class="errorcode">Page not found 404</h1>
<div class="errortext">Không tìm thấy trang này.</div>
