@page
@model SuppliesManagement.Pages.Common.ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Quên mật khẩu";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div class="container col-md-6">
    <div class="card bg-light mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <h2 class="text-center">Quên mật khẩu</h2>
                    <form method="post" class="mt-4">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorMessage"]
                            </div>
                        }
                        <div class="form-group">
                            <label for="username">Tài khoản:</label>
                            <input type="text" class="form-control" id="username" name="Username"
                                placeholder="Tên đăng nhập" required>
                        </div>
                        <div class="form-group position-relative">
                            <label for="password">Email: </label>
                            <input type="text" class="form-control" id="email" name="Email"
                                placeholder="Email liên kết với tài khoản" required>
                        </div>
                        <br>
                        <p><a href="./SignIn">Đăng nhập vào hệ thống</a></p>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-100">Lấy mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ForgotPassword.js"></script> 