@page
@model SuppliesManagement.Pages.Reports.ViewExcelPhuTungThayTheModel
@{
    Layout = null;
    @* ViewData["Title"] = $"Báo cáo Công Cụ Dụng Cụ {Model.Year}"; *@
}
@* <h1>@ViewData["Title"]</h1> *@

<div>
    @Html.Raw(Model.ExcelHtml)
</div>